# Postgres
DATABASE_USER="iuahsduhsdhaihdiuah"
DATABASE_PASSWORD="hdoahdojhassdhoi"
DATABASE_DB="mystique"
DATABASE_PORT="5432"
DATABASE_HOST="localhost"

# MinIO
S3_ENDPOINT="localhost"
S3_ROOT_USER="ohjdoihdiuhasiudhassuih"
S3_ROOT_PASSWORD="iuhsijdhasidhiajshduih"
S3_PORT="9000"
S3_CONSOLE_PORT="9001"

# Better Auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="JX5MBmdjQoTCu5uLQCLD7h6ZLHNUv6oj"

GOOGLE_CLIENT_ID="351371487643-f350p32tpoo6osp2qh5ratan7313atrj.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

GITHUB_CLIENT_ID="Ov23licehPuuhfnS7lrg"
GITHUB_CLIENT_SECRET="f0bc2f4a6e77d2c05fafa2eab1605a379bf51a77"

# SMTP
RESEND_API_KEY="re_3ck15Cqu_P12oEiubty6ZSTGSAApPN55t"