#!/usr/bin/env bash

if [ -f .env ]; then
  dotenv
else
  echo "No .env file found. Copy .env.example to get started."
fi

use nix -p nodejs prettier
export NEXT_TELEMETRY_DISABLED=1
echo "Direnv loaded: { pkgs.nodejs pkgs.prettier }"
