# ----------------------
# Postgres
# ----------------------
DATABASE_USER=iuahsduhsdhaihdiuah
DATABASE_PASSWORD=hdoahdojhassdhoi
DATABASE_DB=mystique
DATABASE_PORT=5432
DATABASE_HOST=postgres

# ----------------------
# MinIO (S3)
# ----------------------
S3_ENDPOINT=minio
S3_PORT=9000
S3_CONSOLE_PORT=9001
S3_ROOT_USER=ohjdoihdiuhasiudhassuih
S3_ROOT_PASSWORD=iuhsijdhasidhiajshduih

# If your app uses full S3 URL:
S3_URL=http://minio:9000

# ----------------------
# Auth (production domain)
# ----------------------
BETTER_AUTH_URL=https://mystique.prazakl.cz
BETTER_AUTH_SECRET=JX5MBmdjQoTCu5uLQCLD7h6ZLHNUv6oj

# ----------------------
# OAuth
# ----------------------
GOOGLE_CLIENT_ID=351371487643-dkllg3u6ju2jt0apsmverjvj2j46e0i5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# ----------------------
# Email
# ----------------------
RESEND_API_KEY=re_MCr6iEqn_BR3dCroEtpf979pGdXepbsr5
LETSENCRYPT_EMAIL=lucaschyba@gmail.com